.logo {
    font-family: Montserrat;
    font-size: 35px;
    color: #1e58ff;
    cursor: pointer;
    text-align: center;
    left: 10%;
    @media (max-width: 750px) {
        font-size: 40px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }
}
